span.pr0 {
	background-color: #bbb;
}
span.pr1 {
	background-color: #c00;
}
span.pr2 {
	background-color: #f93;
}
span.pr3 {
	background-color: #393;
}
span.pr4 {
	background-color: #39c;
}
span.pr5 {
	background-color: #999;
}
