span.pr0 {
	background-color: #bbb;
}
span.pr1 {
	background-color: #c00;
}
span.pr2 {
	background-color: #f60;
}
span.pr3 {
	background-color: #f93;
}
span.pr4 {
	background-color: #9c0;
}
span.pr5 {
	background-color: #393;
}
span.pr6 {
	background-color: #399;
}
span.pr7 {
	background-color: #39c;
}
span.pr8 {
	background-color: #99c;
}
span.pr9 {
	background-color: #999;
}
